.card-project {
    background-color: #7c5e99;
    box-shadow: 10px 10px 0 #FFF;
    height: 280px;
    width: 280px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-project.-blue {
    background-color: #4C5B84;
}