.card-project {
    background-color: #582630;
    box-shadow: 10px 10px 0 #FFF;
    height: 280px;
    width: 280px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-project.-blue {
    background-color: #ca7835;
}

.card-project > .logo.-second {
    height: 280px;
    width: 280px;
    padding: 25px;
}
