.main-action {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.main-action::before {    /*Pseudo-elemento que adiciona os quadradinhos*/
    content: "";
    background-color:#A5664D;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}