.main-banner {
    background-image: url(../../img/photo-pexels.jpg);
    background-repeat: no-repeat; /*A imagem aparece apenas uma vez*/
    background-size: 100%; /*Redimensiona a imagem*/
    height: 800px;
    border-bottom: 10px solid #000;

    padding-top: 90px;
    padding-left: 90px;

}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 710px;
}

.main-banner .main-box {
    margin-bottom: 35px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}