.main-header {
    background-color: #582630;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 30px;
    border-bottom: 10px solid #000;
}